body {
  margin: 0;
  font-family: Helvetica;
  background-color: #D23333;
}

h1 {
  font-weight: 100;
  color: white;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}
#logo {
  height: 80px;
  width: 80px;
}
