body {
  margin: 0;
  font-family: Helvetica;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}
#logo {
  height: 80px;
  width: 80px;
}
